ALLOWED_ORIGINS=
QDRANT_URL=
QDRANT_API_KEY=
DATABASE_URL=
HUGGINGFACE_API_KEY=
GROQ_API_KEY=
GEMINI_API_KEY=
MISTRAL_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
R2_BUCKET_NAME=documind-pdfs
R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_PUBLIC_URL=https://<account_id>.r2.cloudflarestorage.com